<!DOCTYPE html>
<html>
  <head>
  	<title>Home Page</title>
  	<link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <%- include('partials/popup') %>
      <nav>
        <div class="dropdown">
          <button class="dropBtn"><%= username %><img src="/images/downArrow.svg"></button>
          <div id="myDropdown" class="dropdown-content">
            <button>Account</button>
            <button id="logout" type="submit">Log Out</button>
          </div>
        </div>
        <h3><a href="#">Client</a></h3>
        <h3><a href="#">Packages Docs</a></h3>
        <h3><a href="#">Support</a></h3>
        <h3><a href="#">About</a></h3>
      </nav>
      <div id="content">
        <section id="sidebar">
          <div class="sidebar-table"><h1>Projects</h1></div>
          <div id="project-list">
            <% for(i=0; i<projects.length; i++) {%>
              <div class="sidebar-table" id="sidebar-<%= projects[i].id %>"><h3><a href="/app/<%= projects[i].id %>/overview/"><%= projects[i].name %></a></h3></div>
            <% } %>
            <!--
            <div class="sidebar-table" id="sidebar-selected"><h2>BlueOS</h2></div>
            <div class="sidebar-table"><h3>CloudCast - Live Radio</h3></div>
            <div class="sidebar-table"><h3>Cloud Platformer</h3></div>
            <div class="sidebar-table"><h3>Chess Online v0.71</h3></div>
            -->
          </div>
          <a href="/app/newProject" class="button">New Project</a>
        </section>
        <section id="workspace">
          <% if (title === 'newProject' || title === 'welcome') { %>
            <%- include(`partials/${title}`) %>
          <% } else { %>
            <%- include('partials/tabs/toolbox') %>
            <%- include(`partials/tabs/${title}`) %>
            <script>
              document.getElementById('sidebar-<%= projectData.id %>').classList.add('sidebar-selected')
            </script>
          <% } %>
        </section>
      </div>
    </div>
    <script src="/dist/index.js"></script>
  </body>
</html>	
